body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: #F0F0F0;
    color: BLACK;
  //  color: white;
   // background-color: black;
}

#algo{
    color: red;
}
#afu{
    color: yellow;
}
.home{
    text-align: left;
    position: absolute;
    color: #F0F0F0;
    right: 13rem;

}
.contact-me{
    text-align: left;
    position: absolute;
    right: 5rem;
    color: #F0F0F0;
}

.blank{
    //padding-left: 100rem;
    height: 10%;
    width: auto;
    background-color:  #203239;             //#21325E;//#203239;// #141E27;

}
.title{
    padding-left: 10%;
    padding-right: 20%;
}
p {
    position: relative;
    margin-top: auto;
    padding-left: 10%;
    padding-right: 20%;
}
/*.java{
    text-align: left;
    position: absolute;
    right: 7%;
    display: inline-block;
    top: 10%;
}
*/
.b2{
    height: 8rem;
    width: auto;
    background-color:  #203239;

   // color: #F0F0F0;
    //text-align: center;
   // position: absolute;
    //top: 5rem;

}


//#rights{
  /*  color: #F0F0F0;
        display: inline-block;
        position: absolute;
        margin-block-start: 3.2em;
        margin-block-end: 1em;
        margin-inline-start: 25rem;
        margin-inline-end: 0px;


//}*/



//©®